{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}МФЦ «Мои Документы»{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'mfc/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header class="navbar">
        <div class="container navbar-content">
            <a href="{% url 'home' %}" class="logo">
                <span class="logo-bold">МФЦ</span> Мои Документы
            </a>
   
            <nav class="nav-links" style="display: flex; align-items: center; gap: 15px;">
               <a href="/api/" target="_blank" class="nav-btn api-btn">Просмотр API</a>
               <a href="{% url 'services_list_html' %}" class="nav-btn" style="background-color: #d32f2f; color: white;">Каталог услуг</a>
               {% if user.is_authenticated %}
                  <span style="font-size: 14px; color: #2c3e50;">Вы вошли как: <strong>{{ user.username }}</strong></span>
                  <a href="/api/appointments/today/" target="_blank" class="nav-btn api-btn" style="background-color: #e8f5e9; color: #2e7d32;">Талоны на сегодня</a>
                  <a href="{% url 'logout' %}" class="nav-btn api-btn" style="background-color: #ffebee; color: #c62828;">Выйти</a>
               {% else %}
                  <a href="{% url 'login' %}" class="nav-btn api-btn">Войти (Оператор)</a>
               {% endif %}
               
               <a href="/admin/" target="_blank" class="nav-btn admin-btn">Админка</a>
            </nav>

        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <!-- <p>&copy; 2026 Информационная система МФЦ. Все права защищены.</p> -->
        </div>
    </footer>

</body>
</html>